@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../public/Images/wall.jpg");
}

.navbar {
  display: flex;
  padding: 10px 90px;
  background-color: white;
  justify-content: space-between;

  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
}

.logo-image {
  width: auto;
  height: 50px;
}
.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 500px;

  font-size: 17px;
}

.hero-section {
  margin: 60px 90px;
  color: white;

  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 34px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 34px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 34px -11px rgba(0, 0, 0, 0.75);
}

.heading {
  font-size: 20px;
  border-radius: 10px 10px 0 0;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #0cafff;
}

.input-section {
  padding: 15px;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #0cafff;
  border-style: none;
}

.convert:hover {
  color: white;
  background: linear-gradient(
    109.6deg,
    rgb(122, 221, 41) 11.2%,
    rgb(116, 222, 2) 100.2%
  );
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.convert {
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #0cafff;
  border-style: none;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  left: 47%;
  top: 400px;
  width: 80px;
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
}
.loading {
  font-size: 50px;
  position: absolute;
  top: 465px;
  left: 43%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: green transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-heading {
  padding: 10px;
}

.submit-button:hover {
  color: white;
  background: linear-gradient(
    109.6deg,
    rgb(122, 221, 41) 11.2%,
    rgb(116, 222, 2) 100.2%
  );
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.submit-button {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  background: #0cafff;
  border-style: none;
}

.input-lines {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
}

.group-one {
  border-top: 1px solid grey;
}

.output-box {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  align-items: center;
}

.output-one textarea,
.output-two textarea {
  width: 500px;
  height: 250px;
  padding: 20px 20px;
  border-style: none;
}
